
.CalendarPage{
    display:flex;
}
.calendar-page-container{
    width:80%;
    display:flex;
    flex-direction:column;
    background-color: rgba(233, 221, 219, 0.164); 
}
.calendar-page-header{
    text-align:center;
    font-size:72px;
    font-family: 'Cabin Sketch', cursive;
    color: rgb(98, 139, 151);
}
.react-calendar{
    width:90%;
    height:300px;
    margin:0px auto;
    margin-bottom:10px;
    border-radius:3px;
}
.react-calendar__navigation__label, .react-calendar__navigation__arrow{
    font-size:20px;
    font-weight:bolder;
    color:white;
}
.react-calendar__navigation{
    background-color:rgb(87, 144, 161);
}
.react-calendar__tile--active{
    background-color:rgb(87, 144, 161);
    border-radius:2px;
}
.react-calendar__month-view__weekdays__weekday{
    text-decoration: underline;
    border:none;
}
.react-calendar__tile{
    color:black;
    font-size:12px;
}
.calendar-recipe-section{
    width:90%;
    margin:0px auto;
    
}
.recipe-search-section{
    
    display:flex;
    flex-direction:column;
    
}
.recipe-search{
    display:flex;
    justify-content:space-between;
    width:90%;
   
}
.recipe-search-input{
    height:30px;
    width:65%;
    margin-top:15px;
}
.calendar-recipe-list{
    border:2px solid black;
    height:160px;
    margin-top:20px;
    width:50%;
}
.edit-recipe-section{
    
}

/* .calendar-edit-form{
    width:90%;
    display:flex;
    margin: 0 auto;
}
.toggle-day-container{
    width:40%;
    height:160px;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    background-color:purple;
}
.edit-servings-container{
    width:60%;
    background-color:orange;
}
.single-day-button, .range-selector-button{
    width:160px;
    height:50px;
    background-color:blue;
    color:white;
    margin:0px auto;
    cursor:pointer; */
