.Create-Recipe{
    display:flex;
    
}

.create-page-container{
    width:88%;
    display:flex;
    flex-direction:column;

}
.create-recipe-header{
    text-align:center;
    font-size:50px;
    font-weight:bold;
    color: rgb(87, 144, 161);
}
.url-add-recipe-section{
    width: 95%;
    display:flex;
    justify-content: space-between;
    padding-top:5px;
    padding-bottom:30px;  
}

.url-drop-input{
    width:80%;
    margin-left:6%;
    height:34px;
    border-radius:2px;
   
}
.url-add-arrow{
    background-color:rgb(87, 144, 161);
    color:white;
    font-weight:bolder;
   cursor:pointer;
   width:10%;
   padding-top:10px;
   text-align:center;
   border-radius:2px;
}
.recipe-preview{
    width:90%;
    height:300px;
    margin:0px auto;
    display:flex;
    margin:10px auto;
   
}
.recipe-preview-title-and-info{
    width:40%;
    border-right: 2px solid rgba(199, 203, 204, 0.322);
    display:flex;
    flex-direction:column;
    justify-content:space-around;

}
.recipe-preview-header{
    width:90%;
    font-size:24px;
    margin:0px auto;
    margin-top:40px;
    text-align:center;
    
}
.recipe-info-container{
    widows: 90%;
    display:flex;
    justify-content:space-around;
}
.prep-time-container, .cook-time-container, .servings-amount-container{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    width:30%;
    text-align:center;
    
}
h4{
    font-weight:bold;
    font-size:16px;
}
.recipe-preview-image{
    width:60%;
}
.recipe-preview-img{
   margin-left:7.5%;
    width:90%;
    height:300px;
    
}
.recipe-modification-section{
    width:90%;
    margin:0px auto;
    display:flex;
    justify-content: space-between;
   font-family: 'Lato', sans-serif;
}
.meal-tag-section{
    width:23%;
    border-right: 2px solid rgba(199, 203, 204, 0.322);
    height:280px;
    margin-top:40px;
 
}
.meal-tag-header{
   padding-left:5%;
   margin-top:-14px;
   font-size:16px;
}
.meal-tag{
    width:85%;
    background-color:rgb(87, 144, 161);
    color:white;
    /* margin:0 auto; */
    height:40px;
    border-radius:2px;
    text-align:center;
    cursor:pointer;
}
.meal-tag-p{
    padding-top:12px;
    font-size:16px;
    font-weight:bold;
}
.edit-servings-section{
    width:24%;
    border-left: 2px solid rgba(199, 203, 204, 0.322);
    height:280px;
    margin-top:40px;
    display:flex;
    flex-direction:column;
    align-items:flex-end;
}
.edit-servings-header{
    padding-left:6%;
    margin-bottom:40px;
    margin-top:-14px;
   font-size:16px;
}
.servings-container{
    text-align:center;
}
.servings-input{
    height:30px;
}
.add-recipe-button{
    width: 85%;
    margin:0 auto;
    margin-top:50px;
    height:40px;
    background-color:rgb(87, 144, 161);
    color:white;
    font-weight:bold;
    text-align:center;
    border-radius:3px;
    font-size:26px;
    padding-top:12px;
    cursor:pointer;
}
.calendar-section{
    width:50%;
    margin-top:50px;
    border-radius: 2px;
}
.react-calendar__navigation__label, .react-calendar__navigation__arrow{
    /* font-size:10px; */
    font-weight:bolder;
    color:white;
}
.react-calendar__navigation{
    background-color:rgb(87, 144, 161);
}
.react-calendar__tile--active{
    background-color:rgb(87, 144, 161);
    border-radius:2px;
}
.react-calendar__month-view__weekdays__weekday{
    text-decoration: underline;
    border:none;
}
.react-calendar__tile{
    color:black;
    font-size:12px;
}

