.Landing-Page{
    width: 100%;
    height: 1000px;
    background-image: url('https://images.pexels.com/photos/1640774/pexels-photo-1640774.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=700&w=800');
}
.landing-page-nav-bar{
    width:100%;
    background-color:rgba(255, 255, 255, 0.87);
    display:flex;
    justify-content: space-between;
    height:140px;
}

.logo-container{
    width:60%;
    display:flex;
    padding-left:5%;
}

.landing-header{
    font-size:144px;
    margin-left:3.5%;
    font-weight:400;
    letter-spacing:-5px;
    margin-top:0px;
}
.landing-page-nav-buttons{
  width:18%;
  margin-right:3%;
  color:black;
  font-size:26px;
  display:flex;
  justify-content: space-between;
  text-align:right;
  font-family: 'PT Sans', sans-serif;
  letter-spacing:-1px;
}
.login-button, .registration-button{
    cursor:pointer;
}
.landing-blurb-container{
    width:60%;
    margin: 200px auto;
    text-align:center;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    background-color:rgba(255, 255, 255, 0.87);

}
.landing-blurb-header{
    color:rgb(87, 144, 161);
    font-size:48px;
    margin-bottom:0px;
}
.landing-page-blurb{
    padding:0px 10%;
}
