.Nav-Bar{
    background-color:#FBBF00;
    width:15%;
}
.nav-logo-container{
    width:80%;
    height:190px;
    display:flex;
    margin:0px auto;
}

.nav-icon{
    height:80px;
    border:3px solid #FAF8FB;
    border-radius:100%;
   
}
.nav-link-container{
    display:flex;
    flex-direction:column;
    width:75%;
    margin: 0px auto;

}

.nav-link{
    margin:15px;
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
    color:white;
    font-size: 24px;
    font-weight:bold;
}