.NavBar{
    width:12%;
    
}
.nav-container{
    display:flex;
    flex-direction:column;
    padding:20px 10%;
}
.nav-link-container{
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    height:300px;
    margin-top:10px;
}
.nav-link{
    cursor: pointer;
    text-decoration:none;
    border-bottom:2px solid rgba(199, 203, 204, 0.322);
    text-transform: uppercase;
    font-weight:bold;
    color:black;
    padding-left:10%;
    padding-bottom:15px;
    font-size:14px;
}
.nav-bar-logo{
    color:rgb(87, 144, 161);
    font-size:34px;
    font-weight:bolder;
    border-bottom:2px solid rgba(199, 203, 204, 0.322);
    padding-bottom:40px;
}