.recipeListPage{
    display:flex;
}

.recipeList-container{
    width:80%;
    display:flex;
    flex-direction: column;
    padding-top: 100px;
    
}

.calendar-topBar{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.newRecipeLink{ 
    width:200px;
    background-color:rgb(87, 144, 161);
    color:white;
    /* margin:0 auto; */
    height:30px;
    border-radius:2px;
    text-align:center;
    cursor:pointer;
    padding-top: 9px
    
    
}    
.create-tag-p{
    text-decoration: none;
    color: white;
    font-size:16px;
    font-weight:bold;
    width: auto;
} 

.recipeContent {
    display:flex;
    flex-direction: row;
    flex-flow: row;
}
.search-bar {
    margin: 5px;
}
.filterSection{
    margin:5px;
}

.editButton{
    height: 20px;
    width:auto;
}

